
body {	

	background-color: #ffffff;
	background-image: url(../images/Sports.png); 
	font-family: arial;
	color: #777777;

}

#about{

	padding-right: 25px;

}

#portfolio {

	padding-right: 25px;
	padding-left: 25px;


}

#contact {

	padding-left: 25px;

}

#pic {

	width: 300px;
    border: 25px;
    margin-right: 20px;
    float: left;


  } 

#para {

	color: #777777;

}

#linkedin {

	margin-top: 25px;
}

.nav-bar {

	overflow: auto;
	background-color: white;
	border-bottom: 1px solid black;
}

.nav {

	text-decoration: none;
	float: right;
	padding-top: 50px;
	padding-right: 250px;


}    
	
.name {

	float: left;
	width: 325px;
	background-color: #4aaaa5;
	border: 1px solid #cccccc;
	color: white;
	margin-left: 150px;
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;


}


.container{

	overflow: auto;
}

.main {

	float: left;
	color: #4aaaa5;
	background-color: #ffffff;
	padding-left: 50px;
	padding-right: 50px;
	width: 500px;
	border: 1px solid #dddddd;
	margin-left: 150px;
	margin-top: 50px;


}

.connect {

	color: #4aaaa5;
	background-color: #ffffff;
	margin-right: 275px;
	margin-top: 50px;
	float: right;
	border: 1px solid #cccccc;
	width: 250px;
	height: 200px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;	

}

.connect a {
	text-decoration: none;
}

.row {

	text-align: center;
}

.box {

	position: relative;
	text-align: center;
	display: inline-block;
	padding-right: 20px;
	padding-left: 20px;

}



.projectname {

	display: block;
	background-color: #4aaaa5;
	color: white;



}


h2 { 

	background-color: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;



}

a {

	text-decoration: none;
}

